
// wave
.wave{
    min-height: 1000px;
    width: 100%;
    position: relative;
    background: linear-gradient(30deg,#8a817b , #092bec);
    overflow: hidden;
    &::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 257px;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
        background: url('../images/wave.png');
    }
    .content-image{
        position: absolute;
        right: 20px;
        height: 100%;
        top: 200px;
        @media (max-width : 767px) {
            display: none;
        }
        img{
            width: 100%;
            object-fit: cover;
            transform: scale(1.5);
        }
    }
    .content-big{
        position: absolute;
        top: 20%;
        font-size: 60px;
        text-transform: uppercase;
        left: 10%;
        color: #fff;
        opacity: 0.2;
        letter-spacing: 24px;
        z-index: 2;
    }
    .postion{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        width: 100%;
        z-index: 3;
        h2{
            color: $white;
            font-size: 40px;
            font-weight: bold;
        }
        p{
            color: $white;
            font-size: 1.25rem;
            
        }
        a{
            color: $white;
            background-color: $orange;
            margin-top: 20px;
        }
    }

}
// wave

.new-section{
    .section-parent-us{
        margin-top: 50px;
        padding: 30px 0px;
        justify-content: space-between;
        align-items: center;
        h2{
            font-size: $header;
            font-weight: 400;
        }
        .last-line{
            font-size: $header;
            font-weight: bold;
            color: $orange;
        }
        ul{
            li{
                margin: 20px 0px;
                color: #707070;
            }
        }
        a{
            color: $white;
            font-weight: bold;
            margin-top: 10px;
        }
    }
    .content-image{
        position: relative;
        .svg{
            position: absolute;
            top: -5px;
            z-index: -1;
            left: -10px;
            img{
                width: 100%;
            }
        }
        .target-image{
            img{
                width: 100%;
                border-radius: 63% 37% 30% 70% / 50% 45% 55% 50%;
                border: 20px solid #1A2C79;
            }

        }
        .dot-image{
            position: absolute;
            bottom: -3px;
            left: auto;
            right: -3px;
            z-index: -1;
            img{
                width: 100%;
            }

        }
    }

}

// mission
.mission{
    .center-content{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eee;
        .mission-content{
            background-color: $white;
            padding: 30px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            background-color: #eee;
            p{
                font-weight: bold;
            }

            .title{
                color: $blue;
                font-weight: bold;
                font-size: $header;
                margin-bottom: 50px;
                text-transform: uppercase;
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    bottom: -20px;
                    left: 0px;
                    background-color: $orange;
                    height: 4px;
                    width: 100%;
                }
            }
        
        }
        img{
            width: 100%;
            vertical-align: middle;
        }
    }

}
// mission