.content-header{
    margin-top: 100px;
    .content-header-details{
        padding: 20px 0px;
    }
    .images{
        img{
            width: 100%;
        }
    }
    p{
        margin: 10px 0px;
        color: #707070;
    }
    .btn{
        color: $white;
    }
}