    @-webkit-keyframes mymove {
    from {
        transform: translateX(-1000px)
    }
    to {
        transform: translateX(0px)
    }
    }

    @keyframes mymove {
    from {
        transform: translateX(-1000px)
    }
    to {
        transform: translateX(0px)
    }
    }

    @-webkit-keyframes ImageSlider {
        from {
            opacity: .7;
            transform: scale(1);
        }
        to {
            opacity: 1;
            transform: scale(1.2)
        }
        }

    @keyframes ImageSlider {
        from {
            opacity: .7;
            transform: scale(1);
            display: block;
        }
        to {
            opacity: 1;
            transform: scale(1.3);

        }
    }

    .mangetranslate{

        animation: mymove 2s;
    
    }
    .Slider-image{
        animation: ImageSlider 8s;
        
    
    }
    .active {
        display: block !important;
    }

    // menu
    @-webkit-keyframes menu {
        0%{
            top: -100%;
        }
        100%{
            top: 0px;
        }
    }

    // menu
    @keyframes menu {

        0%{
            top: -100%;
        }
        100%{
            top: 0px;
        }
        
    }


    @-webkit-keyframes secoundtranslate {

        0%{
            opacity: 0;
            transform: translateX(-1000px);
        }
        100%{
            opacity: 1;
            transform: translateX(0px);
        }
    }

    @keyframes secoundtranslate {

        0%{
            opacity: 0;
            transform: translateX(-1000px);
        }
        100%{
            opacity: 1;
            transform: translateX(0px);
        }
    }