$paddingLeftRowContainer : 15px; 
$paddingRightRowContainer : 15px; 
$zerovalue : 0px;
// defult value 

// Header Value
$headerSection : 40px;
$headersmall : 25px;
$normalheader : 30px;


// fontlinks
$fontlinks : 18px;
$fontlinkssmall : 16px;
// header



// header section 
$header : 35px;
$headersmall : 20px;


// text section
$normaltext : 18px;
$smalltext : 14px;





