$paddingLeftRowContainer : 15px; 
$paddingRightRowContainer : 15px; 
$zerovalue : 0px;
// defult value 

// Header Value
$headerSection : 40px;
$headersmall : 25px;


// fontlinks
$fontlinks : 18px;
$fontlinkssmall : 16px;


// font with pargraph 
$fontsmall : 14px;
$fonttext : 16px;
$fonttextmax : 20px;
$fonttextarrang : 18px;

