// about safwa
.about-safwa{
    .company{
        text-transform: uppercase;
        font-size: $header;
        @media (max-width : 991px) {
            font-size: $headersmall;
        }
    }
    p{
        font-size: $normaltext;
        @media (max-width : 991px) {
            font-size: $headersmall;
        }
    }

    .section-parent-us{
        margin-top: 50px;
        padding: 30px 0px;
        h2{
            font-size: $header;
            font-weight: 400;
        }
        .last-line{
            font-size: $header;
            font-weight: bold;
            color: $orange;
        }
        ul{
            list-style: circle;
            padding-left: 10px;
            margin-left: 20px;
            margin-top: 20px;
            font-weight: bold;
            li{
                margin-bottom: 5px;
            }
        }
        .section-right{
            position: relative;
            padding: 30px;
            color: $white;
            &::after{
                content: "";
                position: absolute;
                background-color: $orange;
                width: 100%;
                height: 100%;
                top: 0px;
                z-index: -1;
                left: 0px;
                @media (min-width: 1024px){
                    transform: skewX(10deg);
                    left: -10px;
                    padding: 30px;
                }
            }
            a{
                display: block;
                background-color: $blue;
                padding: 10px;
                color: #fff;
                text-align: center;
                width: 180px;
                margin-top: 15px;
                margin-left: 10px;
                position: relative;
                font-family: sans-serif;
                transition: all 0.4s;
                span{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 20px;
                    font-size: 17px;
                    transition: 0.4s;
                    display: block;
                }
                &:hover{
                    background-color: $black;
                    span{
                        right: 10px;
                    }
                }
            }
            img{
                width: 100%;
                @media (min-width : 1024px) {
                    transform: scale(1.8);

                }
                vertical-align: middle;
            }
        }
    }

}
// about safwa

// clients
.clients{
    h2{
        font-size: $header;
        color: $orange;
        font-weight: bold;
        text-transform: uppercase;
    }
    .less-padding{
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        .content-image{
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            position: relative;
            cursor: pointer;
            &::after{
                content: "";
                position: absolute;
                background-color: #f8f8f8;
                top: 0px;
                right: 0px;
                z-index: -1;
                width: 100%;
                height: 100%;
                transition: all 0.4s;
            }
            &:hover{
                &::after{
                    width: 0%;
                }
            }
            img{
                max-width: 100%;
                object-fit: cover;
            }
        }
    }

}
// clients

// quote
.contact{
    .title{
        font-size: $header;
        color: $orange;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
    .contact-Company{
        display: flex;
        align-items: center;
        margin: 20px 0px;
        &:last-child{
            margin-bottom: 0px;
        }
        span{
            margin-right: 10px;
            font-size: 30px;
            color: $orange;
        }
        .links-contact{
            font-weight: bold;
            font-size: 18px;
            a{
                color: $black;
            }
        }
    }

    .title-secound-contact{
        font-size: $header;
        margin-bottom: 10px;
    }
    .text-respose{
        font-size: $smalltext;
    }
    form{
        width: 100%;
        .input-group{
            margin: 20px 0px;
            position: relative;
            height: 50px;
            width: 100%;
            overflow: hidden;
            .input{
                display: block;
                width: 100%;
                height: 100%;
                padding-top: 20px;
                border: none;
                outline: none;
            }
            textarea{
                display: block;
                width: 100%;
                height: 100%;
                padding-top: 20px;
                border: none;
                outline: none;
                resize: none;
            }
            label{
                position: absolute;
                left: 0px;
                bottom: 0px;
                width: 100%;
                height: 100%;
                pointer-events: none;
                border-bottom: 1px solid $black;
                &::after{
                    content: "";
                    position: absolute;
                    bottom: -1px;
                    left: 0px;
                    border-bottom: 3px solid $blue;
                    width: 100%;
                    height: 100%;
                    transform: translate(-100%);
                    transition: 0.4s;
                }
                .content-name{
                    position: absolute;
                    bottom: 5px;
                    left: 0px;
                    transition: 0.4s;
                }


            }
        }
        .submit{
            background-color: $blue;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            font-weight: bold;
            color: $white;
            outline: none;
            border: none;
            cursor: pointer;
            transition: all 0.3s;
            position: relative;
            span{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 20px;
                font-size: 17px;
                transition: 0.4s;
                display: block;
            }
            &:hover{
                background-color: $black;
                span{
                    right: 10px;
                }
            }
        }
    }

}
// quote

// map
.map{
    .title{
        font-size: $header;
        text-transform: uppercase;
        color: $orange;
        margin-bottom: 30px;
    }
    p{
        line-height: 30px;
        font-size: 18px;
    }
    img{
        max-width: 100%;
    }
}
// map

// testemonials
.testemonials{
    .title{
        font-size: $header;
        text-transform: uppercase;
        color: $orange;
        position: relative;
        text-align: center;
        margin-bottom: 40px;
        overflow: hidden;
        &::after{
            display: none;
            @media (min-width : 1024px) {
                display: block;
                position: absolute;
                content: "";
                width: 50%;
                height: 2px;
                top: 50%;
                transform: translateY(-50%);
                left: -25%;
                background-color: $black;
                z-index: -1;
            }

        }
        &::before{
            display: none;
            @media (min-width : 1024px) {
                display: block;
                position: absolute;
                content: "";
                width: 50%;
                height: 2px;
                top: 50%;
                transform: translateY(-50%);
                right: -25%;
                background-color: $black;
                z-index: -1;
            }
        }
    }
    .details-testemonial{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        background-color: $orange;
        color: $white;
        text-align: center;
        padding: 40px;
        span{
            font-size: 30px;
        }
        p{
            font-weight: bold;
        }

    }

    .person{
        display: flex;
        margin-bottom: 20px;
        .person-image{
            width: 60px;
            height: 60px;
            margin-right: 15px;
            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
        .person-details{
            h3{
                font-weight: bold;
                text-transform: uppercase;
                .stars{
                    color: $blue;
                }
            }
            p{
                color: #746f6f;
            }
        }
    }
    .icon-quotes-right{
        color: $blue;
    }
    .center-flex{
        span{
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #eee;
            margin-left: 10px;
            cursor: pointer;
            &.active{
                background-color: $orange;
            }
        }
    }

}

// testemonials

// service 

.services{
    .title{
        color: $orange;
        font-weight: bold;
        font-size: $header;
        margin-bottom: 50px;
        text-transform: uppercase;
    }
    .content-serve{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 30px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        color: $black;
        &:hover{
            &::after{
                bottom: 0%;

            }
            color: $white;
            p{
                color: $white
            }
        }
        img{
            max-width: 40%;
            margin-left: auto;
            margin-right: auto;
        }
        h3{
            margin-top: 20px;
        }
        p{
            text-align: center;
            color: #625d5d;
        }
        &::before{
            content: "";
            position: absolute;
            bottom: 0px;
            left: 0px;
            background-color: #eee;
            width: 100%;
            height: 100%;
            z-index: -2;
        }
        &::after{
            content: "";
            position: absolute;
            bottom: 100%;
            background-color: $blue;
            width: 100%;
            height: 100%;
            z-index: -1;
            transition: 0.4s;
        }
    }
}
// services

// team 
.team{
    position: relative;
    .content-header-team{
        background-color: #f3f3f3;
        padding: 20px 20px 100px 20px;
        width: 100%;
        .title{
            font-weight: bold;
            font-size: $header;
            margin-bottom: 10px;
            text-transform: uppercase;
            color: $orange;
        }
        .link-team{
            display: flex;
            background-color: $blue;
            padding: 10px;
            justify-content: center;
            align-items: center;
            color: $white;
            font-weight: bold;
            width: 200px;
            margin-left: auto;
            position: relative;
            transition: all 0.4s;
            span{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 10px;
                font-size: 17px;
                transition: 0.4s;
                display: block;
            }
            &:hover{
                background-color: $black;
                span{
                    right: 5px;
                }
            }
        }
    }
        .image-team{
            width: 100%;
            position: relative;
            background-color: #eee;
            @media (min-width : 1024px) {
                margin-bottom: 5px;
            }

            .details-person{
                position: absolute;
                bottom: -20px;
                background-color: #fe5627;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                padding: 10px 40px;
                color: #fe5627;
                left: 50%;
                transform: translateX(-50%);
                color: $white;
                text-align: center;
                h2{
                    font-size: 18px;
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                span{
                    font-size: $smalltext;
                }
            }
            img{
                width: 100%;
    
            }
        }
        .description-job{
            padding-top: 40px;
            font-weight: bold;
            text-align: center;
        }
    

}
// team

// projects
.products{
    .title{
        color: $orange;
        font-weight: bold;
        font-size: $header;
        margin-bottom: 50px;
        text-transform: uppercase;
    }
    .image-product{
        cursor: pointer;
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;
        img{
            width: 100%;
            transition: 0.8s;
        }
        &:hover{
            .content-title-project{
                top: 0px;
            }
            img{
                filter: blur(2px);
                transform: scale(1.4);
            }
        }
        .content-title-project{
            position: absolute;
            top: 100%;
            width: 100%;
            height: 97%;
            background-color: rgba(#000 , 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            color: $orange;
            transition: 0.8s;
            font-size: 20px;
            font-weight: bold;
        }
    }
}
// projects

// Blog
.Blog{
    .title{
        color: $orange;
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
    }
    .description-text{
        font-size: $header;
        color: $blue;
        font-weight: bold;
    }
    .link-team{
        display: flex;
        background-color: $blue;
        padding: 10px;
        justify-content: center;
        align-items: center;
        color: $white;
        font-weight: bold;
        width: 200px;
        margin-left: auto;
        position: relative;
        transition: all 0.4s;
        span{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            font-size: 17px;
            transition: 0.4s;
            display: block;
        }
        &:hover{
            background-color: $black;
            span{
                right: 5px;
            }
        }
    }
    .image-blog{
        margin-bottom: 30px;
        border: 2px solid #eee;
        img{
            width: 100%;

        }
        .details-blog{
            padding: 15px;
            span{
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 30px;
                color: $orange;
            }
            .title-blog{
                margin-bottom: 20px;
                color: $blue;
            }
        }
    }
}

// blog



























// specicfic style
.form .input-group > .input:focus ~ .label-name .content-name,
.form .input-group > .input:valid ~ .label-name .content-name
{
    transform: translateY(-100%);
    font-size: 16px;
    color: $black;
}

.form .input-group > .input:focus ~ .label-name::after
{
    transform: translateX(0%);
}
// specicfic style
