// about safwa
.about-safwa{
    .company{
        text-transform: uppercase;
        font-size: $header;
        @media (max-width : 991px) {
            font-size: $headersmall;
        }
    }
    .lead{
        font-size: $normaltext;
        color: #707070;
        font-size: 1.25rem;
        font-weight: 400;
        @media (max-width : 991px) {
            font-size: $headersmall;
        }
    }


    .section-parent-us{
        margin-top: 50px;
        padding: 30px 0px;
        h2{
            font-size: $header;
            font-weight: 400;
        }
        .last-line{
            font-size: $header;
            font-weight: bold;
            color: $orange;
        }
        ul{
            li{
                margin: 20px 0px;
                color: #707070;
            }
        }
        a{
            color: $white;
            font-weight: bold;
            margin-top: 10px;
        }
        .section-right{
            .content-box{
                color: $white;
                border-radius: 0.3rem;
                display: flex;
                flex-direction: column; 
                background-clip: border-box;
                border: 0.0625rem solid rgba(245, 245, 245, 0.05);
                padding: 2rem 2rem;
                text-align: center;
                margin-bottom: 20px;
                span{
                    font-size: 50px;
                    margin-bottom: 18px;
                }
                h5{
                    font-size: 1.25rem;
                }
                P{
                    line-height: 1.6;
                }
            }
        
        }
    }

}
// about safwa

// clients
.clients{
    h2{
        font-size: $header;
        color: $orange;
        font-weight: bold;
        text-transform: uppercase;
    }
    .less-padding{
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        .content-image{
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            position: relative;
            cursor: pointer;
            &::after{
                content: "";
                position: absolute;
                background-color: #f8f8f8;
                top: 0px;
                right: 0px;
                z-index: -1;
                width: 100%;
                height: 100%;
                transition: all 0.4s;
            }
            &:hover{
                &::after{
                    width: 0%;
                }
            }
            img{
                max-width: 100%;
                object-fit: cover;
            }
        }
    }

}
// clients

// quote
.contact{
    .title{
        font-size: $header;
        color: $orange;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
    .contact-Company{
        display: flex;
        align-items: center;
        margin: 20px 0px;
        &:last-child{
            margin-bottom: 0px;
        }
        span{
            margin-right: 10px;
            font-size: 30px;
            color: $orange;
        }
        .links-contact{
            font-weight: bold;
            font-size: 18px;
            a{
                color: $black;
            }
        }
    }

    .title-secound-contact{
        font-size: $header;
        margin-bottom: 10px;
    }
    .text-respose{
        font-size: $smalltext;
    }
    form{
        width: 100%;
        .input-group{
            margin: 20px 0px;
            position: relative;
            height: 50px;
            width: 100%;
            overflow: hidden;
            .input{
                display: block;
                width: 100%;
                height: 100%;
                padding-top: 20px;
                border: none;
                outline: none;
            }
            textarea{
                display: block;
                width: 100%;
                height: 100%;
                padding-top: 20px;
                border: none;
                outline: none;
                resize: none;
            }
            label{
                position: absolute;
                left: 0px;
                bottom: 0px;
                width: 100%;
                height: 100%;
                pointer-events: none;
                border-bottom: 1px solid $black;
                &::after{
                    content: "";
                    position: absolute;
                    bottom: -1px;
                    left: 0px;
                    border-bottom: 3px solid $blue;
                    width: 100%;
                    height: 100%;
                    transform: translate(-100%);
                    transition: 0.4s;
                }
                .content-name{
                    position: absolute;
                    bottom: 5px;
                    left: 0px;
                    transition: 0.4s;
                }


            }
        }
        .submit{
            background-color: $blue;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            font-weight: bold;
            color: $white;
            outline: none;
            border: none;
            cursor: pointer;
            transition: all 0.3s;
            position: relative;
            span{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 20px;
                font-size: 17px;
                transition: 0.4s;
                display: block;
            }
            &:hover{
                background-color: $black;
                span{
                    right: 10px;
                }
            }
        }
    }

}
// quote

// map
.map{
    .title{
        font-size: $header;
        text-transform: uppercase;
        color: $orange;
        margin-bottom: 30px;
    }
    p{
        line-height: 30px;
        font-size: 18px;
    }
    img{
        max-width: 100%;
    }
}
// map

// testemonials
.testemonials{
    background-color: $blue;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .content-header-testemonials{
        margin-bottom: 60px;
        color:$white;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        h2{
            font-weight: 600;
            font-size: 2rem;
            margin-bottom: 10px;
        }
        p{
            font-size: 1.25rem;
            font-weight: 400;
        }
    }
    .content-box{
        box-shadow: 0 0.125rem 0.25rem rgba(24, 28, 50, 0.7);
        border-radius: 1rem;
        background-color: #fff;
        padding: 3rem;
        &>span{
            font-size: 2.75rem;
            color: #D1D3E0;
            margin-bottom: 20px;
            display: block;
        }
        blockquote{
            font-style: italic;
            font-size: 1.12rem;
            margin-bottom: 10px;
            color: #707070;
        }

    
    }
}

// testemonials

// service 

.services{
    .title{
        color: $orange;
        font-weight: bold;
        font-size: $header;
        margin-bottom: 50px;
        text-transform: uppercase;
    }
    .content-serve{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 30px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        color: $black;
        &:hover{
            &::after{
                bottom: 0%;

            }
            color: $white;
            p{
                color: $white
            }
        }
        img{
            max-width: 40%;
            margin-left: auto;
            margin-right: auto;
        }
        h3{
            margin-top: 20px;
        }
        p{
            text-align: center;
            color: #625d5d;
        }
        &::before{
            content: "";
            position: absolute;
            bottom: 0px;
            left: 0px;
            background-color: #eee;
            width: 100%;
            height: 100%;
            z-index: -2;
        }
        &::after{
            content: "";
            position: absolute;
            bottom: 100%;
            background-color: $blue;
            width: 100%;
            height: 100%;
            z-index: -1;
            transition: 0.4s;
        }
    }
}
// services

// team 
.team{
    position: relative;
    .Content-header-team{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        text-align: center;
        margin-bottom: 40px;
        .title{
            font-weight: bold;
            font-size: $header;
            margin-bottom: 10px;
            text-transform: uppercase;
            color: $orange;
        }
        p{
            color: #707070;
        }
    }
        .image-team{
            border-color: #e8e8e8;
            box-shadow: 0 0.125rem 0.25rem rgba(24, 28, 50, 0.4);
            background-color: #f5f5f5;
            border: 0.0625rem solid rgba(245, 245, 245, 0.05);
            border-radius: 0.3rem;
            background-clip: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            .content-img{
                padding: 30px 0px;
            }
            img{
                width: 118px;
                height: 118px;
                border-radius: 50%;
                border: 0.25rem solid #ffffff;
                display: inline-block;
                margin-bottom: 30px;
                box-shadow: 0 1rem 3rem rgba(0, 0, 0 , 0.18);


            }
            .content-team-details{
                padding-left: 70px;
                padding-right: 70px;
                padding-bottom: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                h2{
                    color: $black;
                    font-weight: 600;
                    line-height: 1.3;
                    font-size: 1.25rem;
                    margin-bottom: 10px;
                    color: $blue;

                }
                span{
                    color: #181C32;
                }
                p{
                    line-height: 1.6;
                    color: #707070;
                    text-align: center;
                    margin-top: 15px;
                }
            }

        }
    

}
// team

// projects
.products{
    .title{
        color: $orange;
        font-weight: bold;
        font-size: $header;
        margin-bottom: 50px;
    }
    .image-product{
        cursor: pointer;
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;
        img{
            width: 100%;
            transition: 0.8s;
        }
        &:hover{
            .content-title-project{
                top: 0px;
            }
            img{
                filter: blur(2px);
                transform: scale(1.4);
            }
        }
        .content-title-project{
            position: absolute;
            top: 100%;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, #1A2C79 30%, rgba(26, 44, 121, 0.18) 100%);
            opacity: 0.8;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $orange;
            transition: 0.8s;
            font-size: 20px;
            font-weight: bold;
            h2{
                color: $white;
                margin-bottom: 0.25rem;
                font-size: 1.25rem;
                font-weight: 600;
            }
        }
    }
}
// projects

// Blog
.Blog{
    .title{
        color: $orange;
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
    }
    .description-text{
        font-size: $header;
        color: $black;
        font-weight: bold;
    }
    .link-team{
        display: flex;
        background-color: $blue;
        padding: 10px;
        justify-content: center;
        align-items: center;
        color: $white;
        font-weight: bold;
        width: 200px;
        margin-left: auto;
        position: relative;
        transition: all 0.4s;
        span{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            font-size: 17px;
            transition: 0.4s;
            display: block;
        }
        &:hover{
            background-color: $black;
            span{
                right: 5px;
            }
        }
    }
    .image-blog{
        margin-bottom: 30px;
        position: relative;
        border: 0.0625rem solid rgba(245, 245, 245, 0.05);
        box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.2);
    
    

        .content-image{
            overflow: hidden;
            position: relative;
            .Catagory{
                position: absolute;
                bottom: 40px;
                right: 20px;
                padding: 5px;
                background-color: $orange;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                color: $white;
                a{
                    color: $white;
                    font-size: 14px;
                }
            }
            &:hover{
                img{
                    transform: scale(1.3);
                }
            }
            img{
                width: 100%;
                transition: 0.8s;
            }
        }

        .details-blog{
            padding: 15px;
            position: relative;
            overflow: hidden;
            span{
                font-size: 80%;
                font-weight: 400;            
                margin-bottom: 30px;
                color: #707070;
            }
            .title-blog{
                margin-bottom: 20px;
                color: $blue;
                font-size: 1.25rem;
            }
            p{
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.6;
                color: #707070;
            }
            a{
                display: block;
                margin-top: 20px;
                color: $orange;
                font-weight: bold;
            }
        }
    }
}
// blog

// work
.work{
    span{
        color: $blue;
        font-weight: bold;
    }
    .title{
        color: $orange;
        font-weight: bold;
        font-size: $header;
        margin-bottom: 50px;
        text-transform: uppercase;
    }
    .button-filter{
        display: flex;
        justify-content: space-between;
        
        span{
            display: block;
            background-color: #fff;
            border: 2px solid #d1d1d1;
            padding: 10px 15px;
            cursor: pointer;
            font-weight: bold;
            transition: 0.7s;
            border-radius: 5px;
            &::after{
                content: "";
                transition: 0.7s;
            }
            &:hover{
                background-color: $orange;
                border: 2px solid $orange;
                font-weight: bold;
                color: $white;
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    background-color: $orange;
                    top: -15px;
                    left: 0px;
                }
            }
            &.active{
                background-color: $orange;
                border: 2px solid $orange;
                font-weight: bold;
                color: $white;
                position: relative;

                &::after{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    background-color: $orange;
                    top: -15px;
                    left: 0px;
                }
            }
        }
    }
    .content-work{
        margin-bottom: 30px;
        img{
            width: 100%;
        }
    }
}
// work


// footer 
.footer{
    background-color: $black;
    padding: 20px;
    color: $white;

    .logo{
        img{
            width: 100%;
            vertical-align: middle;
        }
    }
    .breif{
        margin-top: 40px;
    }
    .social-media{
        margin-top: 20px;
        display: flex;
        h6{
            font-size: 18px;
            margin-right: 10px;
        }
        a{
            color: $white;
            font-size: 18px;
            span{
                margin-right: 20px;
            }
        }

    }
    .content-links{
        padding-top: 40px;
        ul{

            li{
                a{
                    color: $white;
                    font-size: 18px;
                }
            }
        }
        .details-safwa{
            display: flex;
            align-items: center;
            margin-top: 20px;
            span{
                margin-right: 10px;
            }
            a{
                color: $white;
            }
        }
    }
}
// footer

// copy
.copyright{
    background-color:#171717;
    padding: 20px;
    color: $white;
    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            color: $white;
        }
    }
}
// copy 

// subcontact
.subcontact{
    background-color: #f5f5f5;
    padding: 50px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    h2{
        margin-bottom: 5px;
    }
    p{
        color: #707070;
    }
    .btn-conent{
        display: flex;
        justify-content: flex-end;
        align-items: center;

        a{
            color: $white;
            margin-left: auto;
            display: inline-block;
        }
    }


}


// subcontact



























// specicfic style
.form .input-group > .input:focus ~ .label-name .content-name,
.form .input-group > .input:valid ~ .label-name .content-name
{
    transform: translateY(-100%);
    font-size: 16px;
    color: $black;
}

.form .input-group > .input:focus ~ .label-name::after
{
    transform: translateX(0%);
}
// specicfic style
