@-webkit-keyframes mymove {
  from {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes mymove {
  from {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes ImageSlider {
  from {
    opacity: .7;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes ImageSlider {
  from {
    opacity: .7;
    -webkit-transform: scale(1);
            transform: scale(1);
    display: block;
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

.mangetranslate {
  -webkit-animation: mymove 2s;
          animation: mymove 2s;
}

.Slider-image {
  -webkit-animation: ImageSlider 8s;
          animation: ImageSlider 8s;
}

.active {
  display: block !important;
}

@-webkit-keyframes menu {
  0% {
    top: -100%;
  }
  100% {
    top: 0px;
  }
}

@keyframes menu {
  0% {
    top: -100%;
  }
  100% {
    top: 0px;
  }
}

@-webkit-keyframes secoundtranslate {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes secoundtranslate {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.col-1 {
  -ms-flex-preferred-size: 8.33333%;
      flex-basis: 8.33333%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .col-1 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.col-2 {
  -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .col-2 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.col-3 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .col-3 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.col-4 {
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .col-4 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.col-5 {
  -ms-flex-preferred-size: 41.66667%;
      flex-basis: 41.66667%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .col-5 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.col-6 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .col-6 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.col-7 {
  -ms-flex-preferred-size: 58.33333%;
      flex-basis: 58.33333%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .col-7 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.col-8 {
  -ms-flex-preferred-size: 66.66667%;
      flex-basis: 66.66667%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .col-8 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.col-9 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .col-9 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.col-10 {
  -ms-flex-preferred-size: 83.33333%;
      flex-basis: 83.33333%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .col-10 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.col-11 {
  -ms-flex-preferred-size: 91.66667%;
      flex-basis: 91.66667%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .col-11 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.col-12 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .col-12 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Sorts Mill Goudy', serif;
}

body {
  overflow-x: hidden;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 740px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

ul {
  padding: 0px;
  list-style: none;
}

li {
  padding: 0px;
  margin: 0px;
}

.center {
  text-align: center;
}

.center-flex {
  -ms-justify-content: center;
  -o-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-layout {
  -webkit-display: grid;
  -ms-display: grid;
  -o-display: grid;
  display: grid;
  -webkit-grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  -ms-grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  -o-grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  -webkit-grid-gap: 20px;
  -ms-grid-gap: 20px;
  -o-grid-gap: 20px;
  grid-gap: 20px;
}

.grid-layout .row-section-grid {
  padding-left: 15px;
  padding-right: 15px;
}

.grid-layout-2 {
  -webkit-display: grid;
  -ms-display: grid;
  -o-display: grid;
  display: grid;
  -webkit-grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  -ms-grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  -o-grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  -webkit-grid-gap: 20px;
  -ms-grid-gap: 20px;
  -o-grid-gap: 20px;
  grid-gap: 20px;
}

.grid-layout-2 .row-section-grid {
  padding-left: 15px;
  padding-right: 15px;
}

.display-grid {
  -webkit-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-box;
  display: flex;
}

.logo {
  width: 175px;
  height: 100px;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  object-fit: cover;
}

.margin-between-section {
  margin-top: 60px;
  margin-bottom: 60px;
}

header {
  position: relative;
}

header .menu {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(39, 53, 127, 0.8);
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: menu 0.5s linear;
          animation: menu 0.5s linear;
  display: none;
}

header .menu .burger-menu {
  position: absolute;
  top: 50px;
  right: 300px;
  -webkit-transform-origin: center;
          transform-origin: center;
  cursor: pointer;
}

header .menu .burger-menu span {
  background-color: #fff;
  width: 50px;
  height: 3px;
  display: block;
  margin-bottom: 10px;
}

header .menu .burger-menu .link-1 {
  -webkit-transform: rotate(45deg) translate(9px, 8px);
          transform: rotate(45deg) translate(9px, 8px);
}

header .menu .burger-menu .link-2 {
  -webkit-transform: rotate(-45deg) translateY(0px);
          transform: rotate(-45deg) translateY(0px);
}

header .menu .parent-list {
  font-size: 60px;
  margin-top: 100px;
}

header .menu .parent-list li a {
  color: #fff;
  display: block;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .menu .parent-list li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 5px;
  left: 0px;
  background-color: #fff;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

header .menu .parent-list li a:hover {
  padding-left: 25px;
}

header .menu .parent-list li a:hover::after {
  width: 100%;
}

header .menu .parent-list li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .menu .parent-list li ul li {
  font-size: 30px;
  margin-left: 20px;
}

header .menu .parent-list li ul li:first-child {
  margin-left: 0px;
}

header .menu .parent-list li ul li a {
  color: #fff;
  position: relative;
}

header .menu .parent-list li ul li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 5px;
  left: 0px;
  background-color: #fff;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

header .menu .parent-list li ul li a:hover::after {
  width: 100%;
}

header nav {
  background-color: #fff;
  padding: 10px 0px;
  color: #fe5627;
  position: relative;
  overflow-x: hidden;
}

header nav .header {
  -webkit-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-box;
  display: flex;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .header .counter-linke {
  overflow: hidden;
  position: relative;
  width: 80px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: height 1s;
  transition: height 1s;
}

@media (min-width: 1024px) {
  header nav .header .counter-linke {
    width: 25%;
  }
}

header nav .header .counter-linke:hover {
  height: 100px;
}

header nav .header .counter-linke ul {
  position: absolute;
  top: 0px;
  text-align: right;
  width: 100%;
}

header nav .header .counter-linke ul li {
  margin-bottom: 5px;
  cursor: pointer;
}

header nav .header .counter-linke ul li a img {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

header nav .header .counter-linke ul li a span {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

header nav .header .burger {
  cursor: pointer;
  overflow: hidden;
  width: 50px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

header nav .header .burger:hover span:first-child {
  margin-left: 0px;
}

header nav .header .burger:hover span:last-child {
  left: 0px;
}

header nav .header .burger span {
  display: block;
  width: 40px;
  height: 3px;
  background-color: #000;
  margin-bottom: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header nav .header .burger span:first-child {
  margin-left: -20px;
}

header nav .header .burger span:last-child {
  position: absolute;
  left: 20px;
}

header nav .header .burger span:lang(ar):first-child {
  margin-right: -20px;
}

header nav .header .burger span:lang(ar):last-child {
  position: absolute;
  right: 20px;
}

header nav .get-Quote {
  position: absolute;
  top: -63px;
  left: -40px;
  background-color: #fe5627;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  -webkit-transition: all  0.5s;
  transition: all  0.5s;
  z-index: 2;
  color: #fff;
}

header nav .get-Quote:hover {
  background-color: #000;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

@media (max-width: 991px) {
  header nav .get-Quote {
    display: none;
  }
}

header nav .get-Quote .content-shape {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header nav .get-Quote .content-shape span {
  font-size: 22px;
  color: #fff;
  font-weight: bold;
}

@media (max-width: 991px) {
  header nav .get-Quote .content-shape span {
    font-size: 14px;
    font-weight: bold;
  }
}

header nav .get-Quote:lang(ar) {
  position: absolute;
  top: -63px;
  right: -30px;
  background-color: #fe5627;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  -webkit-transition: all  0.5s;
  transition: all  0.5s;
  z-index: 2;
  color: #fff;
}

header nav .get-Quote:lang(ar):hover {
  background-color: #000;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

@media (max-width: 991px) {
  header nav .get-Quote:lang(ar) {
    display: none;
  }
}

header nav .get-Quote:lang(ar) .content-shape {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header nav .get-Quote:lang(ar) .content-shape span {
  font-size: 22px;
  color: #fff;
  font-weight: bold;
}

@media (max-width: 991px) {
  header nav .get-Quote:lang(ar) .content-shape span {
    font-size: 14px;
    font-weight: bold;
  }
}

header .header-cover .image {
  color: #fff;
}

header .header-cover .image .image-content {
  width: 100%;
  overflow: hidden;
  position: relative;
}

header .header-cover .image .image-content img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: .7;
  position: relative;
  display: block;
  -webkit-filter: grayscale(70%);
  -ms-filter: grayscale(70%);
  -o-filter: grayscale(70%);
  filter: grayscale(70%);
}

header .header-cover .image .image-content .content-image {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}

header .header-cover .image .image-content .content-image .content-image-content h3 {
  font-size: 40px;
  max-width: 200px;
  font-weight: bold;
}

@media (max-width: 991px) {
  header .header-cover .image .image-content .content-image .content-image-content h3 {
    font-size: 20px;
  }
}

header .header-cover .image .image-content .content-image .content-image-content p {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 30px;
  font-weight: bold;
}

@media (max-width: 767px) {
  header .header-cover .image .image-content .content-image .content-image-content p {
    font-size: 14px;
  }
}

.nav.active {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.header-cover.active {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.about-safwa .company {
  text-transform: uppercase;
  font-size: 35px;
}

@media (max-width: 991px) {
  .about-safwa .company {
    font-size: 20px;
  }
}

.about-safwa p {
  font-size: 18px;
}

@media (max-width: 991px) {
  .about-safwa p {
    font-size: 20px;
  }
}

.about-safwa .section-parent-us {
  margin-top: 50px;
  padding: 30px 0px;
}

.about-safwa .section-parent-us h2 {
  font-size: 35px;
  font-weight: 400;
}

.about-safwa .section-parent-us .last-line {
  font-size: 35px;
  font-weight: bold;
  color: #fe5627;
}

.about-safwa .section-parent-us ul {
  list-style: circle;
  padding-left: 10px;
  margin-left: 20px;
  margin-top: 20px;
  font-weight: bold;
}

.about-safwa .section-parent-us .section-right {
  position: relative;
  padding: 30px;
  color: #fff;
}

.about-safwa .section-parent-us .section-right::after {
  content: "";
  position: absolute;
  background-color: #fe5627;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: -1;
  left: 0px;
}

@media (min-width: 1024px) {
  .about-safwa .section-parent-us .section-right::after {
    -webkit-transform: skewX(10deg);
            transform: skewX(10deg);
    left: -10px;
    padding: 30px;
  }
}

.about-safwa .section-parent-us .section-right a {
  display: block;
  background-color: #27357f;
  padding: 10px;
  color: #fff;
  text-align: center;
  width: 180px;
  margin-top: 15px;
  margin-left: 10px;
  position: relative;
  font-family: sans-serif;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.about-safwa .section-parent-us .section-right a span {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  font-size: 17px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: block;
}

.about-safwa .section-parent-us .section-right a:hover {
  background-color: #000;
}

.about-safwa .section-parent-us .section-right a:hover span {
  right: 10px;
}

.about-safwa .section-parent-us .section-right img {
  width: 100%;
  vertical-align: middle;
}

@media (min-width: 1024px) {
  .about-safwa .section-parent-us .section-right img {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
}

.number-server {
  background: url("../images/bg-2.jpg");
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.number-server .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.number-server .content-on-section {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.number-server .content-on-section .title-serve {
  background-color: rgba(254, 86, 39, 0.6);
  padding: 15px;
  color: #fff;
  text-align: center;
  font-size: 35px;
  padding: 30px 80px;
}

.number-server .content-on-section .content-Details {
  padding: 15px;
}

.number-server .content-on-section .content-Details p {
  font-size: 60px;
  color: #fff;
}

.number-server .content-on-section .content-Details span {
  color: #fe5627;
  font-size: 18px;
  font-weight: bold;
}
/*# sourceMappingURL=Home.css.map */