@-webkit-keyframes mymove {
  from {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes mymove {
  from {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes ImageSlider {
  from {
    opacity: .7;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes ImageSlider {
  from {
    opacity: .7;
    -webkit-transform: scale(1);
            transform: scale(1);
    display: block;
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

.mangetranslate {
  -webkit-animation: mymove 2s;
          animation: mymove 2s;
}

.Slider-image {
  -webkit-animation: ImageSlider 8s;
          animation: ImageSlider 8s;
}

.active {
  display: block !important;
}

.col-1 {
  -ms-flex-preferred-size: 8.33333%;
      flex-basis: 8.33333%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .col-1 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.col-2 {
  -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .col-2 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.col-3 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .col-3 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.col-4 {
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .col-4 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.col-5 {
  -ms-flex-preferred-size: 41.66667%;
      flex-basis: 41.66667%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .col-5 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.col-6 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .col-6 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.col-7 {
  -ms-flex-preferred-size: 58.33333%;
      flex-basis: 58.33333%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .col-7 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.col-8 {
  -ms-flex-preferred-size: 66.66667%;
      flex-basis: 66.66667%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .col-8 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.col-9 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .col-9 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.col-10 {
  -ms-flex-preferred-size: 83.33333%;
      flex-basis: 83.33333%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .col-10 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.col-11 {
  -ms-flex-preferred-size: 91.66667%;
      flex-basis: 91.66667%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .col-11 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.col-12 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .col-12 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 740px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

ul {
  padding: 0px;
  list-style: none;
}

li {
  padding: 0px;
  margin: 0px;
}

.center {
  text-align: center;
}

.grid-layout {
  -webkit-display: grid;
  -ms-display: grid;
  -o-display: grid;
  display: grid;
  -webkit-grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  -ms-grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  -o-grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  -webkit-grid-gap: 20px;
  -ms-grid-gap: 20px;
  -o-grid-gap: 20px;
  grid-gap: 20px;
}

.grid-layout .row-section-grid {
  padding-left: 15px;
  padding-right: 15px;
}

.grid-layout-2 {
  -webkit-display: grid;
  -ms-display: grid;
  -o-display: grid;
  display: grid;
  -webkit-grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  -ms-grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  -o-grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  -webkit-grid-gap: 20px;
  -ms-grid-gap: 20px;
  -o-grid-gap: 20px;
  grid-gap: 20px;
}

.grid-layout-2 .row-section-grid {
  padding-left: 15px;
  padding-right: 15px;
}

.display-grid {
  -webkit-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-box;
  display: flex;
}

.logo {
  width: 175px;
  height: 100px;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  object-fit: cover;
}

nav {
  background-color: #fff;
  padding: 10px 0px;
  color: #f2611c;
  position: relative;
  overflow-x: hidden;
}

nav header {
  -webkit-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-box;
  display: flex;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav header .counter-linke {
  overflow: hidden;
  position: relative;
  width: 25%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: all 1s;
  transition: all 1s;
}

nav header .counter-linke:hover {
  height: 100px;
}

nav header .counter-linke ul {
  position: absolute;
  top: 0px;
}

nav header .counter-linke ul li {
  margin-bottom: 5px;
}

nav header .counter-linke ul li a img {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

nav header .counter-linke ul li a span {
  font-size: 18px;
}

nav header .burger {
  cursor: pointer;
  overflow: hidden;
  width: 50px;
  height: 20px;
  position: relative;
}

nav header .burger span {
  display: block;
  width: 40px;
  height: 3px;
  background-color: #000;
  margin-bottom: 5px;
}

nav header .burger span:first-child {
  margin-left: -20px;
}

nav header .burger span:last-child {
  position: absolute;
  left: 20px;
}

nav header .burger span:lang(ar):first-child {
  margin-right: -20px;
}

nav header .burger span:lang(ar):last-child {
  position: absolute;
  right: 20px;
}

nav .get-Quote {
  position: absolute;
  top: -63px;
  left: -40px;
  background-color: #f2611c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 2;
  color: #fff;
}

nav .get-Quote:hover {
  background-color: #000;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

@media (max-width: 991px) {
  nav .get-Quote {
    display: none;
  }
}

nav .get-Quote .content-shape {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav .get-Quote .content-shape span {
  font-size: 22px;
  color: #fff;
  font-weight: bold;
}

@media (max-width: 991px) {
  nav .get-Quote .content-shape span {
    font-size: 14px;
    font-weight: bold;
  }
}

.header-cover .image {
  color: #fff;
}

.header-cover .image .image-content {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.header-cover .image .image-content img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: .7;
  position: relative;
  display: block;
  -webkit-filter: grayscale(70%);
  -ms-filter: grayscale(70%);
  -o-filter: grayscale(70%);
  filter: grayscale(70%);
}

.header-cover .image .image-content .content-image {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}

.header-cover .image .image-content .content-image .content-image-content h3 {
  font-size: 40px;
  max-width: 200px;
  font-weight: bold;
}

@media (max-width: 991px) {
  .header-cover .image .image-content .content-image .content-image-content h3 {
    font-size: 25px;
  }
}

.header-cover .image .image-content .content-image .content-image-content p {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 30px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .header-cover .image .image-content .content-image .content-image-content p {
    font-size: 14px;
  }
}
/*# sourceMappingURL=Home.css.map */