@-webkit-keyframes mymove {
  from {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes mymove {
  from {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes ImageSlider {
  from {
    opacity: .7;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes ImageSlider {
  from {
    opacity: .7;
    -webkit-transform: scale(1);
            transform: scale(1);
    display: block;
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

.mangetranslate {
  -webkit-animation: mymove 2s;
          animation: mymove 2s;
}

.Slider-image {
  -webkit-animation: ImageSlider 8s;
          animation: ImageSlider 8s;
}

.active {
  display: block !important;
}

@-webkit-keyframes menu {
  0% {
    top: -100%;
  }
  100% {
    top: 0px;
  }
}

@keyframes menu {
  0% {
    top: -100%;
  }
  100% {
    top: 0px;
  }
}

@-webkit-keyframes secoundtranslate {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes secoundtranslate {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .col-md-1 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 992px) {
  .col-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .col-1 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .col-md-2 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 992px) {
  .col-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .col-2 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .col-md-3 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 992px) {
  .col-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .col-3 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .col-md-4 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 992px) {
  .col-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .col-4 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .col-md-5 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 992px) {
  .col-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .col-5 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .col-md-6 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 992px) {
  .col-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .col-6 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .col-md-7 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 992px) {
  .col-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .col-7 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .col-md-8 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 992px) {
  .col-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .col-8 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .col-md-9 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 992px) {
  .col-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .col-9 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .col-md-10 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 992px) {
  .col-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .col-10 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .col-md-11 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 992px) {
  .col-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .col-11 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .col-md-12 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 992px) {
  .col-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .col-12 {
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 740px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

ul {
  padding: 0px;
  list-style: none;
}

li {
  padding: 0px;
  margin: 0px;
}

.center {
  text-align: center;
}

.center-flex {
  -ms-justify-content: center;
  -o-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center-betwen {
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.margin-between-section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.align-item-center {
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right {
  text-align: right;
}

.no-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.specific-space {
  margin-bottom: 80px;
}

.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 0.0625rem solid transparent;
  padding: 0.7rem 1.75rem;
  font-size: 0.9375rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  background-color: #413aa4;
}

.bg-secondary {
  background-color: #fe5627 !important;
}

.bg-default {
  background-color: #0648B3 !important;
}

.bg-success {
  background-color: #05A677 !important;
}

.bg-primary {
  background-color: #1A2C79 !important;
}

@media (min-width: 992px) {
  .section-padding {
    padding-top: 1.5rem;
  }
}

img {
  vertical-align: middle;
}

.subnavbar {
  background-color: #413aa4;
  padding: 20px 0px;
}

.subnavbar .content-details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(255, 255, 255, 0.6);
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subnavbar .content-details span {
  font-size: 15px;
  margin-right: 5px;
}

.subnavbar .content-details span a {
  color: rgba(255, 255, 255, 0.6);
}

.subnavbar .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.subnavbar .social-media a {
  color: rgba(255, 255, 255, 0.6);
}

.subnavbar .social-media a span {
  margin: 0px 10px;
  display: inline-block;
}

.subnavbar .content-Language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: rgba(255, 255, 255, 0.6);
}

.subnavbar .content-Language img {
  width: 25px;
  height: 25px;
  margin-left: 5px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 10px 0px;
}

.logo {
  height: 82px;
  width: 150px;
  display: block;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  object-fit: cover;
}

nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav__links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.nav__links li {
  margin: 0px 10px;
}

.nav__links li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.nav__links li a.active {
  color: #413aa4;
}

.nav__links li a:hover {
  color: #413aa4;
}

.cta {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: #0088a9;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/* Mobile Nav */
.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}

.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

.about-safwa .company {
  text-transform: uppercase;
  font-size: 30px;
}

@media (max-width: 991px) {
  .about-safwa .company {
    font-size: 20px;
  }
}

.about-safwa .lead {
  font-size: 16px;
  color: #707070;
  font-size: 1.25rem;
  font-weight: 400;
}

@media (max-width: 991px) {
  .about-safwa .lead {
    font-size: 20px;
  }
}

.about-safwa .section-parent-us {
  margin-top: 50px;
  padding: 30px 0px;
}

.about-safwa .section-parent-us h2 {
  font-size: 30px;
  font-weight: 400;
}

.about-safwa .section-parent-us .last-line {
  font-size: 30px;
  font-weight: bold;
  color: #fe5627;
}

.about-safwa .section-parent-us ul li {
  margin: 20px 0px;
  color: #707070;
}

.about-safwa .section-parent-us a {
  color: #fff;
  font-weight: bold;
  margin-top: 10px;
}

.about-safwa .section-parent-us .section-right .content-box {
  color: #fff;
  border-radius: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-clip: border-box;
  border: 0.0625rem solid rgba(245, 245, 245, 0.05);
  padding: 2rem 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.about-safwa .section-parent-us .section-right .content-box span {
  font-size: 50px;
  margin-bottom: 18px;
}

.about-safwa .section-parent-us .section-right .content-box h5 {
  font-size: 1.25rem;
}

.about-safwa .section-parent-us .section-right .content-box P {
  line-height: 1.6;
}

.clients h2 {
  font-size: 30px;
  color: #fe5627;
  font-weight: bold;
  text-transform: uppercase;
}

.clients .less-padding {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.clients .less-padding .content-image {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.clients .less-padding .content-image::after {
  content: "";
  position: absolute;
  background-color: #f8f8f8;
  top: 0px;
  right: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.clients .less-padding .content-image:hover::after {
  width: 0%;
}

.clients .less-padding .content-image img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact .title {
  font-size: 30px;
  color: #fe5627;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.contact .contact-Company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0px;
}

.contact .contact-Company:last-child {
  margin-bottom: 0px;
}

.contact .contact-Company span {
  margin-right: 10px;
  font-size: 30px;
  color: #fe5627;
}

.contact .contact-Company .links-contact {
  font-weight: bold;
  font-size: 18px;
}

.contact .contact-Company .links-contact a {
  color: #000;
}

.contact .title-secound-contact {
  font-size: 30px;
  margin-bottom: 10px;
}

.contact .text-respose {
  font-size: 14px;
}

.contact form {
  width: 100%;
}

.contact form .input-group {
  margin: 20px 0px;
  position: relative;
  height: 50px;
  width: 100%;
  overflow: hidden;
}

.contact form .input-group .input {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  border: none;
  outline: none;
}

.contact form .input-group textarea {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  border: none;
  outline: none;
  resize: none;
}

.contact form .input-group label {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #000;
}

.contact form .input-group label::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0px;
  border-bottom: 3px solid #413aa4;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contact form .input-group label .content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contact form .submit {
  background-color: #413aa4;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-weight: bold;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.contact form .submit span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  font-size: 17px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: block;
}

.contact form .submit:hover {
  background-color: #000;
}

.contact form .submit:hover span {
  right: 10px;
}

.map .title {
  font-size: 30px;
  text-transform: uppercase;
  color: #fe5627;
  margin-bottom: 30px;
}

.map p {
  line-height: 30px;
  font-size: 18px;
}

.map img {
  max-width: 100%;
}

.testemonials {
  background-color: #413aa4;
  padding: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testemonials .content-header-testemonials {
  margin-bottom: 60px;
  color: #fff;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.testemonials .content-header-testemonials h2 {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 10px;
}

.testemonials .content-header-testemonials p {
  font-size: 1.25rem;
  font-weight: 400;
}

.testemonials .content-box {
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(24, 28, 50, 0.7);
          box-shadow: 0 0.125rem 0.25rem rgba(24, 28, 50, 0.7);
  border-radius: 1rem;
  background-color: #fff;
  padding: 3rem;
}

.testemonials .content-box > span {
  font-size: 2.75rem;
  color: #D1D3E0;
  margin-bottom: 20px;
  display: block;
}

.testemonials .content-box blockquote {
  font-style: italic;
  font-size: 1.12rem;
  margin-bottom: 10px;
  color: #707070;
}

.services .title {
  color: #fe5627;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.services .content-serve {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}

.services .content-serve:hover {
  color: #fff;
}

.services .content-serve:hover::after {
  bottom: 0%;
}

.services .content-serve:hover p {
  color: #fff;
}

.services .content-serve img {
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.services .content-serve h3 {
  margin-top: 20px;
}

.services .content-serve p {
  text-align: center;
  color: #625d5d;
}

.services .content-serve::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #eee;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.services .content-serve::after {
  content: "";
  position: absolute;
  bottom: 100%;
  background-color: #413aa4;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.team {
  position: relative;
}

.team .Content-header-team {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  margin-bottom: 40px;
}

.team .Content-header-team .title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fe5627;
}

.team .Content-header-team p {
  color: #707070;
}

.team .image-team {
  border-color: #e8e8e8;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(24, 28, 50, 0.4);
          box-shadow: 0 0.125rem 0.25rem rgba(24, 28, 50, 0.4);
  background-color: #f5f5f5;
  border: 0.0625rem solid rgba(245, 245, 245, 0.05);
  border-radius: 0.3rem;
  background-clip: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team .image-team .content-img {
  padding: 30px 0px;
}

.team .image-team img {
  width: 118px;
  height: 118px;
  border-radius: 50%;
  border: 0.25rem solid #ffffff;
  display: inline-block;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.18);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.18);
}

.team .image-team .content-team-details {
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team .image-team .content-team-details h2 {
  color: #000;
  font-weight: 600;
  line-height: 1.3;
  font-size: 1.25rem;
  margin-bottom: 10px;
  color: #413aa4;
}

.team .image-team .content-team-details span {
  color: #181C32;
}

.team .image-team .content-team-details p {
  line-height: 1.6;
  color: #707070;
  text-align: center;
  margin-top: 15px;
}

.products .title {
  color: #fe5627;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 50px;
}

.products .image-product {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.products .image-product img {
  width: 100%;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.products .image-product:hover .content-title-project {
  top: 0px;
}

.products .image-product:hover img {
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.products .image-product .content-title-project {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #1A2C79), to(rgba(26, 44, 121, 0.18)));
  background: linear-gradient(to right, #1A2C79 30%, rgba(26, 44, 121, 0.18) 100%);
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fe5627;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  font-size: 20px;
  font-weight: bold;
}

.products .image-product .content-title-project h2 {
  color: #fff;
  margin-bottom: 0.25rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.Blog .title {
  color: #fe5627;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.Blog .description-text {
  font-size: 30px;
  color: #000;
  font-weight: bold;
}

.Blog .link-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #413aa4;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: bold;
  width: 200px;
  margin-left: auto;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.Blog .link-team span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
  font-size: 17px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: block;
}

.Blog .link-team:hover {
  background-color: #000;
}

.Blog .link-team:hover span {
  right: 5px;
}

.Blog .image-blog {
  margin-bottom: 30px;
  position: relative;
  border: 0.0625rem solid rgba(245, 245, 245, 0.05);
  -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.2);
          box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.2);
}

.Blog .image-blog .content-image {
  overflow: hidden;
  position: relative;
}

.Blog .image-blog .content-image .Catagory {
  position: absolute;
  bottom: 40px;
  right: 20px;
  padding: 5px;
  background-color: #fe5627;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  color: #fff;
}

.Blog .image-blog .content-image .Catagory a {
  color: #fff;
  font-size: 14px;
}

.Blog .image-blog .content-image:hover img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.Blog .image-blog .content-image img {
  width: 100%;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.Blog .image-blog .details-blog {
  padding: 15px;
  position: relative;
  overflow: hidden;
}

.Blog .image-blog .details-blog span {
  font-size: 80%;
  font-weight: 400;
  margin-bottom: 30px;
  color: #707070;
}

.Blog .image-blog .details-blog .title-blog {
  margin-bottom: 20px;
  color: #413aa4;
  font-size: 1.25rem;
}

.Blog .image-blog .details-blog p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #707070;
}

.Blog .image-blog .details-blog a {
  display: block;
  margin-top: 20px;
  color: #fe5627;
  font-weight: bold;
}

.work span {
  color: #413aa4;
  font-weight: bold;
}

.work .title {
  color: #fe5627;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.work .button-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work .button-filter span {
  display: block;
  background-color: #fff;
  border: 2px solid #d1d1d1;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  border-radius: 5px;
}

.work .button-filter span::after {
  content: "";
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.work .button-filter span:hover {
  background-color: #fe5627;
  border: 2px solid #fe5627;
  font-weight: bold;
  color: #fff;
  position: relative;
}

.work .button-filter span:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fe5627;
  top: -15px;
  left: 0px;
}

.work .button-filter span.active {
  background-color: #fe5627;
  border: 2px solid #fe5627;
  font-weight: bold;
  color: #fff;
  position: relative;
}

.work .button-filter span.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fe5627;
  top: -15px;
  left: 0px;
}

.work .content-work {
  margin-bottom: 30px;
}

.work .content-work img {
  width: 100%;
}

.footer {
  background-color: #000;
  padding: 20px;
  color: #fff;
}

.footer .logo img {
  width: 100%;
  vertical-align: middle;
}

.footer .breif {
  margin-top: 40px;
}

.footer .social-media {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .social-media h6 {
  font-size: 18px;
  margin-right: 10px;
}

.footer .social-media a {
  color: #fff;
  font-size: 18px;
}

.footer .social-media a span {
  margin-right: 20px;
}

.footer .content-links {
  padding-top: 40px;
}

.footer .content-links ul li a {
  color: #fff;
  font-size: 18px;
}

.footer .content-links .details-safwa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.footer .content-links .details-safwa span {
  margin-right: 10px;
}

.footer .content-links .details-safwa a {
  color: #fff;
}

.copyright {
  background-color: #171717;
  padding: 20px;
  color: #fff;
}

.copyright .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright .content a {
  color: #fff;
}

.subcontact {
  background-color: #f5f5f5;
  padding: 50px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subcontact h2 {
  margin-bottom: 5px;
}

.subcontact p {
  color: #707070;
}

.subcontact .btn-conent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subcontact .btn-conent a {
  color: #fff;
  margin-left: auto;
  display: inline-block;
}

.form .input-group > .input:focus ~ .label-name .content-name,
.form .input-group > .input:valid ~ .label-name .content-name {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  font-size: 16px;
  color: #000;
}

.form .input-group > .input:focus ~ .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.header-section {
  position: relative;
  background: url("../../assists/images/banner-3.jpg") no-repeat center center/cover;
  min-height: 100vh;
  width: 100%;
  min-width: 100%;
  overflow: hidden;
}

.header-section .content-header-section {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.header-section .content-header-section h2 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.3;
  color: #fff;
}

.header-section .content-header-section p {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 15px 0px;
  color: #fff;
}

.header-section .content-header-section ul li {
  padding: 10px 0px;
  color: #fff;
}

.header-section .content-header-section a {
  margin-top: 20px;
  color: #fff;
  background-color: #fe5627;
}

.header-section::before {
  content: "";
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #1A2C79), to(rgba(26, 44, 121, 0.18)));
  background: linear-gradient(to right, #1A2C79 30%, rgba(26, 44, 121, 0.18) 100%);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.number-server {
  background-image: url("../../assists/images/bg-2.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  position: relative;
}

.number-server .content-on-section {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  z-index: 2;
}

.number-server .content-on-section .content-Details {
  color: #fff;
}

.number-server .content-on-section .content-Details span {
  color: rgba(255, 255, 255, 0.7);
}

.number-server .content-on-section .content-Details span:first-child {
  font-size: 60px;
  margin-bottom: 20px;
  display: block;
  color: #fff;
}

.number-server .content-on-section .content-Details p {
  font-size: 40px;
}

.number-server::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(65, 58, 164, 0.8);
  z-index: 1;
}
/*# sourceMappingURL=Home.css.map */